MVC/Service References/ServiceReference1/webService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPaquete">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarPaqueteResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="destinatario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remitente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarPaqueteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="destinatario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remitente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPaqueteResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarPaqueteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarPaquetePorDestinatario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="destinatario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPaquetePorDestinatarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarPaquetePorRemitente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remitente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPaquetePorRemitenteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarPaquetePorFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarPaquetePorFechaResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPaquete" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarPaquete" />
  </wsdl:message>
  <wsdl:message name="InsertarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPaquete" />
  </wsdl:message>
  <wsdl:message name="ModificarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarPaquete" />
  </wsdl:message>
  <wsdl:message name="EliminarPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorDestinatarioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPaquetePorDestinatario" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorDestinatarioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPaquetePorDestinatarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorRemitenteSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPaquetePorRemitente" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorRemitenteSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPaquetePorRemitenteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorFechaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarPaquetePorFecha" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorFechaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarPaquetePorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaqueteHttpGetIn" />
  <wsdl:message name="ConsultarPaqueteHttpGetOut" />
  <wsdl:message name="InsertarPaqueteHttpGetIn">
    <wsdl:part name="destinatario" type="s:string" />
    <wsdl:part name="remitente" type="s:string" />
    <wsdl:part name="tipo" type="s:string" />
    <wsdl:part name="cantidad" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarPaqueteHttpGetOut" />
  <wsdl:message name="ModificarPaqueteHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="destinatario" type="s:string" />
    <wsdl:part name="remitente" type="s:string" />
    <wsdl:part name="tipo" type="s:string" />
    <wsdl:part name="cantidad" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModificarPaqueteHttpGetOut" />
  <wsdl:message name="EliminarPaqueteHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarPaqueteHttpGetOut" />
  <wsdl:message name="ConsultarPaquetePorDestinatarioHttpGetIn">
    <wsdl:part name="destinatario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorDestinatarioHttpGetOut" />
  <wsdl:message name="ConsultarPaquetePorRemitenteHttpGetIn">
    <wsdl:part name="remitente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorRemitenteHttpGetOut" />
  <wsdl:message name="ConsultarPaquetePorFechaHttpGetIn">
    <wsdl:part name="fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorFechaHttpGetOut" />
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaqueteHttpPostIn" />
  <wsdl:message name="ConsultarPaqueteHttpPostOut" />
  <wsdl:message name="InsertarPaqueteHttpPostIn">
    <wsdl:part name="destinatario" type="s:string" />
    <wsdl:part name="remitente" type="s:string" />
    <wsdl:part name="tipo" type="s:string" />
    <wsdl:part name="cantidad" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarPaqueteHttpPostOut" />
  <wsdl:message name="ModificarPaqueteHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="destinatario" type="s:string" />
    <wsdl:part name="remitente" type="s:string" />
    <wsdl:part name="tipo" type="s:string" />
    <wsdl:part name="cantidad" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModificarPaqueteHttpPostOut" />
  <wsdl:message name="EliminarPaqueteHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarPaqueteHttpPostOut" />
  <wsdl:message name="ConsultarPaquetePorDestinatarioHttpPostIn">
    <wsdl:part name="destinatario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorDestinatarioHttpPostOut" />
  <wsdl:message name="ConsultarPaquetePorRemitenteHttpPostIn">
    <wsdl:part name="remitente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorRemitenteHttpPostOut" />
  <wsdl:message name="ConsultarPaquetePorFechaHttpPostIn">
    <wsdl:part name="fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarPaquetePorFechaHttpPostOut" />
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquete">
      <wsdl:input message="tns:ConsultarPaqueteSoapIn" />
      <wsdl:output message="tns:ConsultarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPaquete">
      <wsdl:input message="tns:InsertarPaqueteSoapIn" />
      <wsdl:output message="tns:InsertarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPaquete">
      <wsdl:input message="tns:ModificarPaqueteSoapIn" />
      <wsdl:output message="tns:ModificarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPaquete">
      <wsdl:input message="tns:EliminarPaqueteSoapIn" />
      <wsdl:output message="tns:EliminarPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorDestinatario">
      <wsdl:input message="tns:ConsultarPaquetePorDestinatarioSoapIn" />
      <wsdl:output message="tns:ConsultarPaquetePorDestinatarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorRemitente">
      <wsdl:input message="tns:ConsultarPaquetePorRemitenteSoapIn" />
      <wsdl:output message="tns:ConsultarPaquetePorRemitenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorFecha">
      <wsdl:input message="tns:ConsultarPaquetePorFechaSoapIn" />
      <wsdl:output message="tns:ConsultarPaquetePorFechaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquete">
      <wsdl:input message="tns:ConsultarPaqueteHttpGetIn" />
      <wsdl:output message="tns:ConsultarPaqueteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPaquete">
      <wsdl:input message="tns:InsertarPaqueteHttpGetIn" />
      <wsdl:output message="tns:InsertarPaqueteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPaquete">
      <wsdl:input message="tns:ModificarPaqueteHttpGetIn" />
      <wsdl:output message="tns:ModificarPaqueteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPaquete">
      <wsdl:input message="tns:EliminarPaqueteHttpGetIn" />
      <wsdl:output message="tns:EliminarPaqueteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorDestinatario">
      <wsdl:input message="tns:ConsultarPaquetePorDestinatarioHttpGetIn" />
      <wsdl:output message="tns:ConsultarPaquetePorDestinatarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorRemitente">
      <wsdl:input message="tns:ConsultarPaquetePorRemitenteHttpGetIn" />
      <wsdl:output message="tns:ConsultarPaquetePorRemitenteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorFecha">
      <wsdl:input message="tns:ConsultarPaquetePorFechaHttpGetIn" />
      <wsdl:output message="tns:ConsultarPaquetePorFechaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquete">
      <wsdl:input message="tns:ConsultarPaqueteHttpPostIn" />
      <wsdl:output message="tns:ConsultarPaqueteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPaquete">
      <wsdl:input message="tns:InsertarPaqueteHttpPostIn" />
      <wsdl:output message="tns:InsertarPaqueteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPaquete">
      <wsdl:input message="tns:ModificarPaqueteHttpPostIn" />
      <wsdl:output message="tns:ModificarPaqueteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPaquete">
      <wsdl:input message="tns:EliminarPaqueteHttpPostIn" />
      <wsdl:output message="tns:EliminarPaqueteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorDestinatario">
      <wsdl:input message="tns:ConsultarPaquetePorDestinatarioHttpPostIn" />
      <wsdl:output message="tns:ConsultarPaquetePorDestinatarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorRemitente">
      <wsdl:input message="tns:ConsultarPaquetePorRemitenteHttpPostIn" />
      <wsdl:output message="tns:ConsultarPaquetePorRemitenteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorFecha">
      <wsdl:input message="tns:ConsultarPaquetePorFechaHttpPostIn" />
      <wsdl:output message="tns:ConsultarPaquetePorFechaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquete">
      <soap:operation soapAction="http://tempuri.org/ConsultarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPaquete">
      <soap:operation soapAction="http://tempuri.org/InsertarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPaquete">
      <soap:operation soapAction="http://tempuri.org/ModificarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPaquete">
      <soap:operation soapAction="http://tempuri.org/EliminarPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorDestinatario">
      <soap:operation soapAction="http://tempuri.org/ConsultarPaquetePorDestinatario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorRemitente">
      <soap:operation soapAction="http://tempuri.org/ConsultarPaquetePorRemitente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorFecha">
      <soap:operation soapAction="http://tempuri.org/ConsultarPaquetePorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquete">
      <soap12:operation soapAction="http://tempuri.org/ConsultarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPaquete">
      <soap12:operation soapAction="http://tempuri.org/InsertarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPaquete">
      <soap12:operation soapAction="http://tempuri.org/ModificarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPaquete">
      <soap12:operation soapAction="http://tempuri.org/EliminarPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorDestinatario">
      <soap12:operation soapAction="http://tempuri.org/ConsultarPaquetePorDestinatario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorRemitente">
      <soap12:operation soapAction="http://tempuri.org/ConsultarPaquetePorRemitente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorFecha">
      <soap12:operation soapAction="http://tempuri.org/ConsultarPaquetePorFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquete">
      <http:operation location="/ConsultarPaquete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InsertarPaquete">
      <http:operation location="/InsertarPaquete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ModificarPaquete">
      <http:operation location="/ModificarPaquete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="EliminarPaquete">
      <http:operation location="/EliminarPaquete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorDestinatario">
      <http:operation location="/ConsultarPaquetePorDestinatario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorRemitente">
      <http:operation location="/ConsultarPaquetePorRemitente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorFecha">
      <http:operation location="/ConsultarPaquetePorFecha" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpPost" type="tns:WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquete">
      <http:operation location="/ConsultarPaquete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InsertarPaquete">
      <http:operation location="/InsertarPaquete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ModificarPaquete">
      <http:operation location="/ModificarPaquete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="EliminarPaquete">
      <http:operation location="/EliminarPaquete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorDestinatario">
      <http:operation location="/ConsultarPaquetePorDestinatario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorRemitente">
      <http:operation location="/ConsultarPaquetePorRemitente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaquetePorFecha">
      <http:operation location="/ConsultarPaquetePorFecha" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/webService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/webService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://localhost/webService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpPost" binding="tns:WebService1HttpPost">
      <http:address location="http://localhost/webService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>